body{
    margin: 0;
    padding: 0;
}

.main_sheet{
    width:850px ;
    height: 500px;
    position: absolute;
    top:60px;
    left: 410px;
    background: url(cook\ for\ ur\ loved\ one.jpg);
    background-size: cover;
    
}
.get{
    width: 100%;
    height: 20px;
    background-color: rgba(240, 99, 99, 0.688);
    padding: 10px;
    border-radius: 10px;
    font-family: "Parisienne", cursive;
    color: black;
    font-weight: 600;
   

}

.main{
    color: white;
    font-size:45px ;
    position: absolute;
    justify-self: center;
    top:130px;
}
#check{
    display: none;
}
.item{
    width: 200px;
    height: 300px;
    box-shadow: 2px 4px gold;
}

.para{
    color: white;
    justify-self: center;
    font-size:15px ;
    position: absolute;
    top: 245px;
}
.paneer{
    width: 300px;
    height: 450px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.429) ;
}
img{
    width: 100%;
    height: 50%;
    background-size: cover;
}
.desc{
    padding:0 10px 0 10px;
}

a{
    font-size: 25px;
    font-family: "Parisienne", cursive;
    color: red;
    text-decoration: none;
    position: absolute;
    bottom: 30px;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    left:10px;
    top:580px;
}
h2{
    font-family: "Parisienne", cursive;
    font-size:1.5em ;
    color: black;
    height: 450px;
    width: 150px;
}
#Non_veg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    left:10px;
    top: 1040px;
}
.chicken{
    width: 300px;
    height: 450px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.429) ;
}
.paneer:hover{
    box-shadow: 4px 8px 16px rgba(255, 255, 0, 0.527) ;

}
.chicken:hover{
 box-shadow: 4px 8px 16px rgba(255, 255, 0, 0.527) ;   
}
@media(max-width:375px){
   #menu{ flex-wrap: wrap;
}
  #Non_veg{ flex-wrap: wrap;}
}